<!DOCTYPE HTML>
//execute a query
//

<html lang = "en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/form.css' />

    </head>

    <%include Header%>
    <body>
        <h1>Welcome to the administrator page</h1>

        <form method="post" action="/admin">

            <label>*Agency Name:</label><br>
            <input type="text" placeholder="Enter agency name" name="agency" required><br>

            <label>*Total Capacity:</label><br>
            <input type="number" placeholder="use scroll bar or enter number" name="capacity" required><br>
            <label>*Event Description:</label><br>
            <textarea class ="desc" placeholder="Enter event description"></textarea><br>
        </form>
    </body>
</html>

