<!DOCTYPE HTML>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/styles/form.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<%include Header%>
    <body>
        <div class = "container">

            <form method="post" class="form-horizontal" role = "form" action="/agency_update">
            <h2>Welcome to the administrator page</h2>

            <div class ="form-group">
                <label for="Agency" class="col-sm-3 control-label" >Agency Name: <label style="color: #ff0d03">*</label></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Enter agency name" name="Agency_Name" required autofocus>
                </div>
            </div> <!-- ./Agency Name -->

            <div class ="form-group">
                <label for="Location" class="col-sm-3 control-label">Agency Location: <label style="color: #ff0d03">*</label></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="Location" placeholder="Enter agency Location" required>
                </div>
            </div> <!-- ./Location -->

            <div class ="form-group">
                <label for="Capacity" class="col-sm-3 control-label">Capacity: <label style="color: #ff0d03">*</label></label>
                <div class="col-sm-9">
                    <input type="number"  class="form-control" name="Capacity" placeholder="use scroll bar or enter number" required>
                </div>
            </div> <!-- ./Capacity -->

            <div class ="form-group">
                <label for="Table_Num" class="col-sm-3 control-label"> Table Number: <label style="color: #ff0d03">*</label></label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" name="Table_Num" placeholder="use scroll bar or enter number" required>
                </div>
            </div> <!-- ./Table Number -->

            <div class ="form-group">
                <label for="Description" class="col-sm-3 control-label">Event Description: <label style="color: #ff0d03">*</label></label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="Description" placeholder="Enter event description" required></textarea>
                </div>
            </div> <!-- ./Event Description -->

            <div class ="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary" style="width: 50%">Add Agency</button>
                </div>
            </div> <!-- ./Add Button -->

        </form>
        </div>
    </body>
</html>
