<%include Header%>
<!DOCTYPE HTML>
<html lang = "en">

<head>
    <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Check-In</title>
    <link rel = "stylesheet" type="text/css" href="../public/stylesheets/form"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<h1>Welcome to the checkin page</h1>