
<!DOCTYPE HTML>
<html lang = "en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/search.css' />
    </head>
    <%include Header%>
    <body>
    <h1>Welcome to the checkin page</h1>
        <p>Search by name:</p>

        <form method="post" action="/checkin">
            <input type="text" name="search" placeholder="Enter last name..">
            <input type="submit" value="search">
        </form>

        <p>Search by email:</p>

        <form method="post" action="/checkin">
            <input type="email" name="search" placeholder="Enter email..">
            <input type="submit" value="search">
        </form>

    </body>
</html>