
<!DOCTYPE HTML>
<html lang = "en">

<head>

    <link rel='stylesheet' href='/stylesheets/search.css' />

</head>
<%include Header%>
<body>
<h1>Welcome to the checkin page</h1>
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<p>Search by name:</p>

<form>
    <input type="text" name="search" placeholder="Enter last name..">
</form>

<p>Search by email:</p>

<form>
    <input type="text" name="search" placeholder="Enter email..">
</form>

</body>
</html>