<%include Header%>

<h1>Welcome to the checkin page</h1>

<form method="post" action="/checkin">
    <label>Profile Search</label>
    <input type="email" name="search">
    <input type="submit" value="search">
</form>