
<!DOCTYPE html>

<html>
<head>
    <title>MLK Volunteer</title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/search.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
    <img class ="banner" src ="images/MLK17.png" alt = "MLK banner image"/>

</header>
    <ul>
        <li >
            <a href = "./register">Register</a>
            <a href="./login">Login</a>
            <a href = "./admin">Admin</a>
            <a href = "./checkin">Check-in</a>
            <a href = "./landing">Landing</a>
            <a href = "./users">Users</a>
            <a href = "./reg_confirm">Confirm</a>
            <a href="mailto:jonalars@umich.edu">Contact Us</a>
            <a href = "images/campus.png">U of M Campus Map</a><img class ="map"/><br>
        </li>
    </ul>
</html>