<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <%include Header%>

    <body>
    <h1>Welcome to the annual MLK Day of Service</h1>
    <h2>To register as a volunteer, please click register.</h2>
    </body>
</html>
