<!DOCTYPE html>
<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/form.css' />

</head>
<%include Header%>
<h1> Please Confirm your information</h1>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="./login">Admin Login</a>


    <a href="./register">register</a>
  </body>
</html>
