<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/styles/form.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

    <%include Header%>
    <body>
        <div class = "container">
            <form method="post" class="form-horizontal" role = "form" action="/reg_confirm">
                <h2> Thank You for Registering</h2>
            </form>
        </div>
    </body>
</html>
