<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />

</head>
<%include Header%>
    <body>
        <h1> MLK Day Volunteer Registration Form</h1>


        <form method="post" action="/register">

                <label>*Email:</label><br>
                <input type="email" placeholder="Enter email address" name="email" required><br>

                <label>*First Name:</label><br>
                <input type="text" placeholder="Enter first name" name="first_name" required><br>

                <label>*Last Name:</label><br>
                <input type="text" placeholder="Enter last name" name="last_name" required><br>

                <label>*Phone Number:</label><br>
                <input type="tel" placeholder="999-999-9999" name="phone_number" required><br>

                <label>*Shirt Size</label>
                <select name=" shirt_size" required>
                    <option>Select One</option>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select><br>

                <label>*Volunteer status</label>
                <select name="Status" required>
                    <option>Select One</option>
                    <option>alumni</option>
                    <option>student</option>
                    <option>faculty</option>
                </select><br>

                <label>*College Affiliation</label>
                <select name="School" required>
                    <option>Select One</option>
                    <option>Univeristy of Michigan Dearborn</option>
                    <option>Henry Ford Community College</option>
                </select><br>

                <label>*Select an agency</label>
                <select name="agency" required>
                    <option>Select one</option>
                    <option>Gleaners</option>
                    <option>Urban Farming</option>
                </select><br>
                <input type="checkbox" name="age" value="18 and older" id="age" required><label> 18 and older</label><br>
                <input type="submit" value="Register"><br>

            <a href = "images/campus.png">View Campus Map</a><img class ="map"/><br>
        </form>


        <a download="campus.png" href="./images/campus.png" title="campus map"><img alt ="U of M campus map" src="/images/campus.png"></a>
    </body>
</html>