<!DOCTYPE html>
<%include Header%>
<form method="post" action="/register">

        <label>Email:</label>
        <input type="text" name="Email">

        <label>First Name:</label>
        <input type="text" name="Fname">

        <label>Last Name:</label>
        <input type="text" name="Lname">

        <label>Phone Number:</label>
        <input type="text" name="Phone_num">

        <label>Shirt Size</label>
    <select name="Shirt_Size">
        <option>Select One</option>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
    </select>

        <label>Volunteer status</label>
        <select name="status">
            <option>Select One</option>
            <option>alumni</option>
            <option>student</option>
            <option>faculty</option>
        </select>

        <label>Which school do you attend?</label>
        <select name="School_Name">
            <option>Select One</option>
            <option>Univeristy of Michigan Dearborn</option>
            <option>henry Ford</option>

        </select>

        <label>Select an agency</label>
        <select name="Agency_Id">
            <option>Select one</option>
            <option value="1">Gleaners</option>
            <option value="2">Urban Farming</option>

        </select>

            <input type="checkbox" name="age" value="1" id="over"><label> 18 and older

        <input type="submit" value="Register">

</form>
