<!DOCTYPE HTML>
<%src="https://maps.googleapis.com/maps/api/js?callback=myMap"%>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/form.css' />

</head>
<%include Header%>
    <body>
        <h1> MLK Day Volunteer Registration Form</h1>

        <form method="post" action="/register">



                <label>*First Name:</label><br>
                <input type="text" placeholder="Enter first name" name="Fname" required><br>

                <label>*Last Name:</label><br>
                <input type="text" placeholder="Enter last name" name="Lname" required><br>

                <label>*Email:</label><br>
                <input type="email" placeholder="Enter email address" name="Email" required><br>

                <label>*Phone Number:</label><br>
                <input type="text" placeholder="999-999-9999" name="Phone_num" required><br>
                <table style = "width: 50%";>
                    <tr>

                   <th>
                    <label>*Shirt Size</label>
                    <select name=" Shirt_Size" class="form-control" required>
                        <option>Select One</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                    </select>
                   </th>
                        <th>
                    <label>*Volunteer status</label>
                    <select name="status1" required>
                        <option>Select One</option>
                        <option>alumni</option>
                        <option>student</option>
                        <option>faculty</option>
                    </select></th>
                    </tr>
                    <tr>
                        <th>
                        <label>*College Affiliation</label>
                        <select name="School_Name" required>
                            <option>Select One</option>
                            <option>Univeristy of Michigan Dearborn</option>
                            <option>Henry Ford Community College</option>
                        </select><br>
                        <input type="checkbox" name="age" value="18 and older" id="age" required><label>I am 18 or older</label><br>
                        </th>

                        <th>
                        <label>*Select an agency</label>
                        <select name="Agency_name" required>
                            <option>Select one</option>
                            <option>Gleaners</option>
                            <option>Urban Farming</option>
                        </select>
                        </th>
                    </tr>


                </table>


                <input type="submit" value="Register"><br>

            <a href = "images/campus.png">View Campus Map</a><img class ="map"/><br>
        </form>


        <a download="campus.png" href="./images/campus.png" title="campus map"></a>
    </body>
</html>