<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />

</head>
<%include Header%>
<h1> Please Confirm your information</h1>
</html>


